<!DOCTYPE html>
<html>
<head>
    <!-- Load file CSS Bootstrap offline -->
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/adddata.css">
</head>
  <h2> Data Talenta </h2>
 <form action="data-talenta.php" method="post">
        <div class="form-group">
          <label>Nama Lengkap</label>
            <input type="text" name="nama_lengkap" class="form-control" placeholder="Masukan Nama Lengkap" />
        </div>
        <div class="form-grup">
          <label>Alamat</label>
            <input type="text" name="alamat" class="form-control" placeholder="Alamat"
              </div>
        <div class="form-grup">
          <label>Username Discord</label>
            <input type="text" name="akun_discord" class="form-control" placeholder="Ray#9422"
              </div>
        <div class="form-grup">
          <label>Bakat</label>
          <input type="text" name="bakat" class="form-control" placeholder="bakat apa saja"
            </div>
        <div class="form-grup">
          <label>Sudah Mempunyai Karakter</label>
          <input type="text" name="karakter_talenta" class="form-control" placeholder="Belum/Sudah"
  </div>